streamlit
python-dotenv
openai
openai-whisper
pydub
langchain
langchain-core
langchain-openai
langchain-community
langchain-mistralai
langchain-chroma
sentence-transformers
yt-dlp
youtube-transcript-api
requests
torchvision
